#page-container{
    display:flex;
    width:100%;
    max-width: 100%;
}

/*side bar section*/
#sidebar-container{
    background-color:#ffaf54;
    width:20%;
    height:calc(100vh-50px);
}
#sidebar-container ul{
    list-style: none;
    padding-left:20px;
}
#sidebar-container a{
    text-decoration: none;
    color: #000;
}
#sidebar-container a:hover{
    color: #fff;
}
#content-container{
    padding-left:10px;
    width:80%;
}
/*end side bar section*/
@media screen and (max-width:815px) {
    #sidebar-container{
        display:none;
        width:0px;
    }
    #content-container{
        width:95%;
        margin:auto;
    }
}


#navbar-my-work a{
    font-weight: bold;
    color:#fff; 
}

#ml-section-content {
    display:flex;
}
#ml-section-content p{
    padding-right:30px;
}
#mlExample-container {
    margin:10px;
}
@media screen and (max-width: 1000px) {
    #ml-section-content {
        display:block;
    }
    #mlExample {
        display:block;
        margin:auto;
        width:80%;
    }
}

/*slideshow section*/
.slideshow-container{
    position:relative;
}
.slide {
    display:none;
}
#first {
    display:block;
}
.art{
    display:block;
    margin:auto;
}
.text {
    color: #464646;
    font-size: 15px;
    padding: 8px 12px;
    bottom: 8px;
    width:calc(100%-24px);
    text-align: center;
  }
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(30, 30, 30);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.272);
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  } 
.active, .dot:hover {
    background-color: #717171;
}
/* end slideshow section*/


#video{
    display:block;
    margin:auto;
}

@media screen  and (max-width:600px){
    #video {
        width:288px;
        height:162px;
    }
}